@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-visibility-classes;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-flex-classes;
@include motion-ui-transitions;
@include motion-ui-animations;
// Foundation No usados:
// @include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-button;
// @include foundation-forms;
// @include foundation-range-input;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-card;
// @include foundation-close-button;
// @include foundation-menu;
// @include foundation-menu-icon;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;
// @include foundation-float-classes;
// @include foundation-prototype-classes;
//
// @import "../bower_components/fontawesome/web-fonts-with-css/scss/fontawesome";
// estilos agregados
/**/
body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin:0;
  object {
    width: 100%;
    min-height:640px;
    height: 100%;
  }
  section, div {
    // background-color: whitesmoke;
    height: 100%;
  }
  a {
    color: white;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    &:hover {
      color: whitesmoke;
    }
  }
  center {
    width: 100%;
  }
  input, textarea  {
    border: 1px solid lightgray;
    color: lightgray;
  }
  #enviar{
    display: block;
    margin: auto;
    font-size: 12px;
    padding: 20px 0;
    width: 180px;
    background-color: #3dbdb6;
    color: #fff;
    cursor:pointer;
    }
}
/**/
#encabezado {
  height: 85px;
  background-color: #1f2532;
  #logo{
    display: inline-block;
    justify-content: left;
    // margin-left: 50px;
    height: 100%;
    width: 45%;
    #logo-texto {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
  #menu {
    display: inline-block;
    float: right;
    // margin-right: 50px;
    height: 100%;
    width: 45%;
    #menu-lista {
      display: flex;
      align-items: center;
      justify-content: right;
      margin: 0;
      height: 100%;
    }
  }
  .menus{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    &:hover,
    &:active,
    &:focus {
      border-bottom: 4px solid #3dbdb6;
    }
  }
}
#inicio_screen {
  padding: 16px;
}
#cartel{
  width: 100%;

}
#programa {
  display: none;
}
#contacto_screen{
  display: none;
  padding: 50px 0;
  background-color: #fff;
  color: #000;
}
#info-contacto {
  font-size: 22px;
}
#division{
  color: #3dbdb6;
  font-size: 22px;
}
.pdf {background: #0caeb4;}
footer {
  min-height: 85px;
  background-color: #1f2532;
  .footer-item {
    display: inline-block;
    justify-content: left;
    height: 85px;
    padding-top: 25px;
    width:29%;
    &.footer-item-center {
      ////
    }
  }
  #derechos {
    text-align: center;
    width:49%;
    &small {
      font-weight: lighter;
    }
  }
  #redes {
    text-align: right;
    // margin-right: 32px;
    width:19%;
  }
}
#fondo-degradado {
  background-image: radial-gradient(ellipse, #55d0d4 20%, #0caeb4 60%);
  @extend .z-1;
  @extend .fixed;
  width: 100%;
  height: 100vh;
}

//custom
.ha {
  height: auto;
}
.h-seccion {
  height: 90vh;
}
.h-contacto {
  min-height: 90vh;
}
.h-logos {
  height: 100px;
  padding: 16px;
}
.abs {
  position: absolute;
  top: 0;
  left: 0;
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.rel {
  position: relative;
}
.z-1 {
  z-index: -1;
}
/* phone */
@media (max-device-width : 940px){
  #menu{ display: lock; float: right; }
  #cartel{ width: 100%; height: 756px; background-image: url("img/cartel.jpg"); background-size: 100%; background-repeat: no-repeat;}
  #contacto_info{
    font-size: 18px;
    width: 90%;
    margin-left: 0%;
  }
  .fas{
    margin-right: 18px;
  }
  #contacto_form{
    display: block;
    font-size: 15px;
    // width: 90%;
  }
  #correo{
    width:100%;
    font-size: 45px;
  }
  #mensaje{
    width: 100%;
    font-size: 35px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}
/* ipad */
@media (min-device-width : 320px) and (max-device-width : 640px) {
  #cartel{ height: 756px; }

  #division{ color: #3dbdb6; }

  .fas{ margin-right: 35px; }
  input[type=text] {
    box-sizing: border-box;
    display: inline-block;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
  }
  #mensaje{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  }
  /* Desktops and laptops ----------- */
  @media (min-device-width : 960px) {

    .fas{
      margin-right: 5px;
    }
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    #correo{
      font-size: 15px;
    }
    #mensaje{
      width: 100%;
      font-size: 15px;
      padding: 12px 20px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
